@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.wrapper {
    background: url("https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	max-width: 100%;
	height: 100vh;
    display: flex;
    flex-direction: column;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
    @media @mediascreen {
        height: 2rem;
    }

    .header2 {
        color: white;
        width: 75%;
        margin: auto auto;
        text-align: center;

	    h1 {
            font-size: 75px;
            font-weight: bold;
            letter-spacing: 5px;
        }
        p {
            margin-top: 20px;
            font-size: 20px;
        }
    }
}
.content2 {
    .display;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 75px;
    flex-wrap: wrap;

    @media @mediascreen {
        flex-direction: column;
    }
}
